/* commmon components*/
.row {
	width: auto;
}

.flex-container {
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.flex-item {
    text-align: center;
}

.bottom-left {
	position: fixed;
    left: 30px;
    bottom: 20px;
}

.unsplash {
	overflow: hidden;
	max-width: 400px;
	height: 300px;
	width: 400px;
}

.popup-icon{
	height: 80px;
	width: 80px;
}

.timer {
	font-size: 4em;
	font-weight: 800;
}

.button {
	font-size: 1.5em;
}

p {
	margin: 8px 0;
}

/* popup  */
.popup-container {
	min-height: 200px;
	width: 300px;
	color: #333333;
	background-color: whitesmoke;
	text-align: center;
	padding: 10px;
}


/* bakground page */

.main-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

.background {
	position: fixed;
	display: none;
	height: 100%;
	width: 100%;
	z-index: 5;
	background-color: rgba(51,51,51,0.3);
    border-radius: 1em；
}

.underlay {
	position: fixed;
	font-size: 4em;
	height: 100%;
	width: 100%;
	background-color: #333333;
	color: white;
	z-index: 1;
}

.overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 2em;
	z-index: 10;
}

.icon-small {
	height: 30px;
	width: 30px;
}

.icon-large {
	height: 150px;
	width: 150px;
}